body{
    background-image: url("../assets/imgs/baixados.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}

main{
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Secular One';
    color: #fff;
    font-size: 52px;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 35px;
        width: 300px;
        text-align: center;
    }
}