
body{
    background-image: url("../assets/imgs/dragonball.jpg");
}

main{
    align-items: center;
    justify-content: center;
}

iframe {
    width: 50%;
    height: 80%;
    padding-bottom: 12px;
}